
	<div>
		<ul class="list-group">
			<% @questions_list.each do |question|%>
			  <li class="list-group-item">
				  <span class="emphasize">Question: <a href="/questions/<%= question.id %>" target="_blank" ><%= question.description %></a></span>
				  <br>
			  </li>
		 	<% end %>
		</ul>
	<div>
