<div>
  <div>
    <form class="login-form" action="/session" method="post">
      <h2>Sign in to continue:</h2>
      <br><br>
        <input type="email" id="emailInput" class="form-control" placeholder="Email" required autofocus name="user[email]">
      <br>
        <input type="password" id="passwordInput" class="form-control" placeholder="Password" required name="user[password]">
      <br>
        <input type="submit" value="Sign In" class="signin-button">
    </form>
  </div>
</div>
