<div class="container page-width">
	<h1><%= current_user.username %>'s Profile</h1>
	<br>
		<h4>NAME: <%= current_user.fullname %><br>
		EMAIL: <%= current_user.email %></h4>
		<br>
		<div class="profile-content">

		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" id="myquestions" class="active"><a href="" role="tab" data-toggle="tab">My Questions</a></li>
			<li role="presentation" id="myanswers"><a href="" role="tab" data-toggle="tab">My Answers</a></li>
		</ul>

		</div>
</div>