<div class="container page-width">
	<h1><%= current_user.username %>'s Profile</h1>

	<div>
		<ul class="nav nav-pills" role="tablist">
			<li role="presentation" id="myquestions" class="active"><a href="">My Questions</a></li>
			<li role="presentation" id="myanswers"><a href="">My Answers</a></li>
		</ul>

		<div class="profile-content">
		<!-- INSERT CONTENT HERE -->
		</div>

	</div>
</div>