<div class="container page-width">
	<h1><%= current_user.username %>'s Profile</h1>
	<br>
		<h4>NAME: &nbsp; <%= current_user.fullname %><br>
		EMAIL: &nbsp; <%= current_user.email %></h4>
		<br>

		<ul class="nav nav-pills nav-justified" role="tablist">
			<li role="presentation" id="myquestions" class="active"><a href="" data-toggle="pill" >My Questions</a></li>
			<li role="presentation" id="myanswers"><a href="" data-toggle="pill" >My Answers</a></li>
		</ul>
		<div class="profile-content">
		</div>
</div>

<script>
$(this).load(function(){
	var link      = window.location.href + "/questions";
      	$.ajax({
		    url: link,
		    method: "GET",
		    cache: false,
		    success: function(response){
		    	$html = $.parseHTML( response )
		    	$('.profile-content').html($html)
		    }
	});
});

</script>